/* https://andy-bell.co.uk/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

:root {
	--color-primary: #dd8ac1;
	--color-primary-light: #f4e2ee;
	--color-secondary: #3e7bf7;
	--color-dark: #333333;
	--color-light: #f4f0f3;
	--color-off-white: #f3f4f4;
	--color-disabled: #a9a9a9;
	--font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	--measure: 20rem;
	--metric-radius: 4px;
	--scale--1: 0.75;
	--scale-0: 1;
	--scale-1: 1.33;
	--scale-2: 1.77;
	--scale-3: 2.36;
	--scale-4: 3.15;
	--scale-5: 4.2;
	--scale-6: 5.6;
}

button {
	text-transform: none;
}

body {
	background-color: var(--color-light);
	color: var(--color-dark);
	font-family: 'IBM Plex Sans', sans-serif;
	min-width: 18.5em;
	padding: 2.8em 1em 0;
}

h1 {
	font-size: calc(var(--scale-1) * 1em);
	margin-block-end: 1.5em;
	text-align: center;
}

footer {
	background-color: var(--color-off-white);
	font-size: 0.875em;
	margin-block-start: 4.29em;
	min-width: inherit;
	padding: 1.71em 1.14em;
	position: relative;
	width: 100%;
}

.center {
	margin-inline: auto;
	max-inline-size: max-content;
}

@media screen and (min-height: 26em) {
	footer {
		bottom: 0;
		left: 0;
		position: fixed;
	}
}

footer ul {
	margin-block: 0;
}

.c-counter {
	align-items: center;
	background-color: var(--color-off-white);
	border: 1px solid var(--color-primary);
	border-radius: var(--metric-radius);
	display: flex;
	justify-content: space-between;
	margin-inline: auto;
	margin-block: 0;
	max-width: var(--measure);
	min-height: auto;
	padding: 2em 1em;
	box-shadow: 2px 2px var(--color-primary-light);
}

.c-counter dl {
	font-size: 1.125em;
	font-weight: 600;
	line-height: 1.9;
	margin-block: 0;
	flex: 1;
}

.c-counter dl > * {
	display: inline-block;
}

.c-counter__count {
	--length-count: calc(var(--scale-3) * 1em);
	border: 1px solid var(--color-dark);
	border-radius: var(--metric-radius);
	height: 100%;
	margin-inline-start: 0.5em;
	max-width: var(--length-count);
	text-align: center;
	width: var(--length-count);
}

.js\:c-count--disabled {
	color: var(--color-disabled);
}

.c-counter__increment {
	position: relative;
}

.c-counter__button {
	background-color: var(--color-secondary);
	border: none;
	border-radius: var(--metric-radius);
	color: var(--color-off-white);
	cursor: pointer;
	display: inline-block;
	font-size: 1.125em;
	min-height: 2.44em;
	padding: 0 1.11em;
	text-align: center;
	transition: color 250ms;
}

.c-counter__button:hover {
	opacity: 0.8;
}

.c-counter__button:focus:not(:focus-visible) {
	outline: none;
}

.c-counter__button:focus-visible {
	outline: none;
	box-shadow:
		var(--color-light) 0 0 0 2px,
		var(--color-secondary) 0 0 0 4px;
}

/* loading spinner */
.c-counter__button::after {
	--_offset-spinner: calc(50% - 0.5em);
	--_diameter-spinner: 1.1em;
	content: '';
	border: 3px solid var(--color-off-white);
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: 50% 50% 50% 0;
	display: block;
	height: var(--_diameter-spinner);
	left: var(--_offset-spinner);
	opacity: 0;
	position: absolute;
	top: var(--_offset-spinner);
	transition: opacity 250ms;
	width: var(--_diameter-spinner);
}

@-webkit-keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Classname has a lower specificity than
 * Classname + attribute (aria-disabled=true) selector
 * Using source order for `wait` to override/augment `disabled`
 */
.js\:c-trigger--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	color: var(--color-disabled);
}

.js\:c-trigger--wait {
	color: transparent;
	pointer-events: none;
}

.js\:c-trigger--wait::after {
	opacity: 1;
	-webkit-animation: rotate 750ms linear infinite;
	animation: rotate 750ms linear infinite;
}

.c-counter__status {
	color: green;
	font-size: 0.8em;
	margin-block-start: 0.5rem;
	position: absolute;
	right: 0;
	top: 100%;
	white-space: nowrap;
}

.c-counter__status.js\:c-status--error {
	color: red;
}
